# Environment variables — never commit
.env

# Docker volumes data (if mounted locally)
docker/db/data/

# pgAdmin local data
docker/pgadmin/data/

.idea/
target/
.mvn/

e2e/node_modules/
e2e/dist/
e2e/playwright-report/
e2e/test-results/